.flex {
  display: flex;
}

.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}

.no-shrink {
  flex-shrink: 0;
}

.click-active {
  cursor: pointer;
  &:active {
    opacity: 0.7;
    user-select: none;
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input,
button {
  box-shadow: none;
}

.search-container {
  padding: 8px $paddingWidth 0;
  .search-item {
    margin-right: 20px;
    align-items: center;
    font-size: 14px;
  }
}

.ant-table {
  .ant-table-thead > tr > th {
    padding: 4px;
    background: #ccc;
  }
  .ant-table-tbody > tr > td {
    padding: 4px;
  }
}
