.flex {
  display: flex;
}

.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center;
}

.no-shrink {
  flex-shrink: 0;
}

.click-active {
  cursor: pointer;
  &:active {
    opacity: 0.7;
    user-select: none;
  }
}

input,
button {
  box-shadow: none;
}
